body {
    margin: 5px;
    padding: 0;
    /*background-color:#000;*/
    background-color: #F2F2F2;
    color:#555;
}

.top-bar {
    background-color: #fff;
    position: relative;
    border-radius: 4px 4px 0 0;
}

.clear-margin {
    margin: 0;
}

.title {
    margin-left: 20px;
    line-height: 50px;
    color: #757575;
}

    .title span {
        font-size: 14px;
    }

.select {
    position: absolute;
    top: 0px;
    right: 20px;
    line-height: 50px;
}

    .select > .icon {
        vertical-align: top;
    }

.text-pink {
    color: #D03C86;
}

.item-left {
    width: 110px;
    float: left;
}

.img-face {
    width: 100px;
    height: 125px;
    border-radius: 5px;
    margin: 5px;
}

.list-item {
    margin-top: 2px;
    background-color: #fff;
    position: relative;
}

.item-right {
}

.title-black {
    font-size: 16px;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item-userInfo {
}

.item-userInfo-all {
    margin: 0;
    font-size: 12px;
}

.item-user-point {
    margin-top: 5px;
    
    overflow: auto;
    zoom: 1;
}

    .item-user-point > span {
        display: block;
        padding: 2px 5px ;
        float: left;
        font-size: 11px;
        border: 1px solid #5FA0CA;
        margin: 2px;
        color: #5FA0CA;
        border-radius: 2px;
    }

.item-user-speak {
    line-height: 20px;
    padding: 10px 5px 0 0;
    font-size: 12px;
    overflow: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btn {
    display: block;
    line-height: 34px;
    border-radius: 5px;
    text-decoration: none;
    color: #e93593;
    font-size: 0.875rem;
    margin: 5px;
    text-align: center;
}

.btn-box {
    width: 50%;
    float: left;
}

.btn-pink {
    border: 1px solid #e93593;
}

.item-call {
    width: 100%;
    padding-bottom: 2px;
    overflow: auto;
    zoom: 1;
}

#top-AD {
    background-color: #F2F2F2;
    overflow: auto;
    zoom: 1;
}

.img-AD {
    width: 20%;
    float: left;
}

    .img-AD img {
        width: 100%;
    }

.AD-title {
    width: 100%;
    position: absolute;
    bottom: 3px;
    left: 0px;
    font-size: 10px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0,.5);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.img-AD a {
    display: block;
    overflow: hidden;
    position: relative;
    margin: 5px;
}

.clear {
    overflow: auto;
}


#nav-top {
    background-color: #fff;
    height: 50px;
    border-bottom: 2px solid #E83591;
    position: relative;
}

.nav-back {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 50px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px;
}

.btn-ok {
    display: block; /* width:50px; height:26px; line-height:26px; */
    background: #e93593; /* position:absolute; right:10px; top:12px; */
    text-align: center;
    color: #fff;
    border-radius: 3px;
    font-size: .8em;
    padding: 5px 10px;
    margin: -5px 0 0 0;
    border:none;
}


.nav-title {
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.pull-right {
    float: right !important;
}

#content {
    margin: 5px;
}

.toggle {
    overflow: auto;
    zoom: 1;
    margin-bottom: 5px;
}

.col-2 {
    width: 50%;
    float: left;
}

.col-4 {
    width: 25%;
    float: left;
}

.toggle-btn {
    cursor: pointer;
    text-align: center;
    border-right: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    padding: 10px;
}

.toggle-title {
    padding: 10px 15px;
    margin-bottom: 1px;
    background-color: #fff;
}

.toggle-content {
    background-color: #fff;
    overflow: auto;
}

.text-pink {
    color: #e93593;
    text-decoration: none;
}

.text-gray {
    color: #555;
    text-decoration: none;
}

.img-vertical-bottom {
    vertical-align: bottom;
    width: 20px;
    margin-left: 5px;
}

.nav-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 17px 10px;
}

.nav-back img {
    height: 15px;
    margin-top: 13px;
    vertical-align: top;
}

.le_trg {
    display: inline-block;
    margin-left: 10px;
    width: 9px;
    height: 9px;
    border-right: 2px solid #555;
    border-bottom: 2px solid #555;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
}

.re_trg {
    display: inline-block;
    margin-left: 0px;
    width: 9px;
    height: 9px;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

.bot_trg {
    display: inline-block;
    margin-left: 10px;
    width: 9px;
    height: 9px;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    margin-top: -10px;
}

.top_trg {
    display: inline-block;
    margin-left: 10px;
    width: 9px;
    height: 9px;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
}
.list-error{
    color:#555;
    margin:15px;
    text-align:center;
}